/* CSS de todas as páginas */

* {
    padding: 0px;
    max-width: 100%;
    font-family: 'ubuntu', 'nununti';
    font-style: normal;
}

/* banner superior de todas as paginas */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1%;
    left: 0px;
    top: 0px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

/* imagem da empresa no banner superior */

.logo {
    margin: 0 5%;
}

/* barra de navegação do banner do topo das paginas */ 

.cima {
    display: flex;
    align-items: center;
    gap: 42px;
    height: 48px;
    cursor: pointer;
    margin-right: 5%;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

/* rodapé de todas as paginas */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 207px;
    left: 0%;
    top: 100%;
    background: #419488;
}

/* navegação do rodapé */

.baixo {
    left: 43.26%;
    right: 51.81%;
    top: 25.6%;
    bottom: 34.3%;
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

/* botões do rodapé */

.botoes {
    margin-right: 5%;
}

.botoes a {
    text-decoration: none;
    color: #FFFFFF;
    Width: 289px;
    Height: 51px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    left: 70.42%;
    right: 9.51%;
    top: 24.15%;
    bottom: 51.21%;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 14px;
    margin: 13px;
}
/* Fim da configuração de todas as páginas */

section.banner {
    margin: 8em 13em;

}

.banner {
    display: flex;
    justify-content: space-evenly;




}

.texto-banner {
    text-align: left;


}

.texto-banner h2 {
    width: 488px;
    height: 216px;
    left: 206px;
    top: 242px;
    color: #FF4081;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
}

.texto-banner p {
    text-align: left;
    margin: 19px auto 46px auto;
    color: #555555;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;


}

.texto-banner a {
    text-align: justify;
    border: 2px solid #FF4081;
    border-radius: 62px;
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;
    padding: 8px 26px;

}

section.cursos-index {
    background: #F7F7F7;
    padding: 6.85em 8em;



}

.cursos-index {
    display: flex;
    justify-content: center;



}

.cursos-index div {
    padding: 0 2em;
    text-align: center;

}

.cursos-index div h2 {
    color: #FF4081;
    font-weight: 700;
    line-height: 29px;
    text-align: center;

}

.cursos-index div p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    padding: 17px 0 20px 0;
}

.cursos-index div a {
    background-color: #FF4081;
    text-decoration: none;
    color: #FFFFFF;
    width: 233px;
    height: 51px;
    align-items: center;
    border-radius: 62px;
    padding: 0.7em 3em;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

}

.cursos-index div img {
    height: 270px;
}

section.depoiment {
    padding: 6.85em 8em;

}
section.depoiment h2 {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688;
    padding-bottom: 78px;
}


.depo div {
    gap: 10px;
    text-align: left;
    font-family: 'Nunito';
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.depo {
    display: flex;
    justify-content: center;
    
}

.depo1 {
    
}

/* cursos */

div.titulo1 {
    font-family: 'Ubuntu';
    font-style: normal;
    display: flex;
    text-transform: initial;
    flex-direction: column;
    margin: 6% 5%;
    height: 1%;

}

div.titulo1 h1 {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    color: #FF4081;
}

div.titulo1 p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}

div.cursos {
    display: flex;

}

div.cursos img {
    margin: 0 6% 8%;
    left: 7.78%;
    right: 65.83%;
    top: 38.91%;
    bottom: 45.25%;
}

div.cursos h4 {
    flex-direction: column;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

div.cursos p {
    margin: 0 25% 0 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

div.cursos a {
    background-color: #419488;
    text-decoration: none;
    color: #FFFFFF;
    Width: 289px;
    Height: 51px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    left: 70.42%;
    right: 9.51%;
    top: 24.15%;
    bottom: 51.21%;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 14px;
    margin: 5% 0;
}

/* Pagina Cursos 1 */


section.curso1-titulo {
    margin: 8em 13em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1%;
    left: 0px;
    top: 0px;
    align-items: center;
    height: 1%;
    left: 0px;
    top: 0px;
}

div.titulo2 {
    font-family: 'Ubuntu';
    font-style: normal;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10% 5% 10% 10%;
    height: 1%;

}

div.titulo2 h1 {
    flex-direction: column;
    margin: 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;
    color: #FF4081;
}

.img-titulo {
    justify-content: center;
    display: flex;
    margin: 10% 10% 10% 5%;
    Width: 150%;
    Height: 150%;
    left: 52.15%;
    right: 21.46%;
    top: 9.38%;
    bottom: 72.49%;

}


div.aulas {
    justify-content: center;
    display: flex;
    margin-bottom: 10%;
}

div.aulas iframe {
    margin: 0 0 0 10%;
}

div.aulas h2 {
    flex-direction: column;
    margin: 5% 5%;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

div.aulas p {
    margin: 5% 5%;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: #000000;
}

/* contato */


section.contato {
    display: flex;
    margin-left: 20vh;
    margin: 8em 13em;
    

}

div.contato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.contato h1 {
    font-weight: 700;
    color: #FF4081;
    left: 0%;
    right: 68.95%;
    top: 0%;
    bottom: 89.02%;
    

}

div .contato {
    justify-content: space-around;
}

#nome {
    color:#58555D;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    margin-bottom: 2%;
    padding: 2.0%;
    width: 60vh;

}

#email {
    color:#58555D;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    margin-bottom: 2.5%;
    padding: 2.0%;
    width: 60vh;
}

#mensagem {
    color:#58555D;
    height: 193px;
    top: 183px;
    left: 3px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    margin-bottom: 2%;
    width: 60vh;
    padding: 2.5%;

}

.botao {

    text-align: center;
    height: 32px;
    width: 108px;
    left: 3px;
    top: 391px;
    position: 0.6% 77.62% 93.32% -0.95%;
    color: #FFFFFF;
    background-color: #FF4081;
    border-radius: 50px;
    border: none;
    padding: 1%;
    max-width: 14vh;

}

.contato img{
    padding: 201px;
    width: 25em;
    height: 25em;
    align-items: flex-start;
    color: ;
}