* {
    padding: 0px;
    margin:  0px;
}
/* INICIO */

box-sizing: border-box;

position: relative;
width: 1440px;
height: 3197px;

background: #FFFFFF;
border: 1px solid #000000;


/* footer */

position: absolute;
width: 1440px;
height: 207px;
left: 0px;
top: 2990px;



/* Rectangle 19 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #419488;


/* logo */

position: absolute;
left: 8.89%;
right: 69.44%;
top: 25.6%;
bottom: 25.4%;



/* dindin */

position: absolute;
left: 16.81%;
right: 69.44%;
top: 28.5%;
bottom: 43.48%;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 66px;
line-height: 76px;

color: #FFFFFF;



/* educação financeira */

position: absolute;
left: 17.29%;
right: 71.04%;
top: 62.32%;
bottom: 27.05%;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;



/* dindin-logo-white (1) 2 */

position: absolute;
left: 8.89%;
right: 84.27%;
top: 25.6%;
bottom: 25.4%;

background: url(dindin-logo-white (1).png);


/* Group 29 */

position: absolute;
left: 70.42%;
right: 9.51%;
top: 24.15%;
bottom: 51.21%;



/* Rectangle 12 */

box-sizing: border-box;

position: absolute;
left: 70.42%;
right: 9.51%;
top: 24.15%;
bottom: 51.21%;

border: 2px solid #FFFFFF;
border-radius: 62px;


/* quero ser prof */

position: absolute;
left: 73.26%;
right: 12.36%;
top: 30.92%;
bottom: 57.97%;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Group 30 */

position: absolute;
left: 70.42%;
right: 9.51%;
top: 55.07%;
bottom: 20.29%;



/* Rectangle 12 */

box-sizing: border-box;

position: absolute;
left: 70.42%;
right: 9.51%;
top: 55.07%;
bottom: 20.29%;

border: 2px solid #FFFFFF;
border-radius: 62px;


/* aqui tem outro link */

position: absolute;
left: 73.26%;
right: 12.36%;
top: 61.84%;
bottom: 26.57%;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;



/* cursos blog contato */

position: absolute;
left: 43.26%;
right: 51.81%;
top: 25.6%;
bottom: 34.3%;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;



/* blog */

position: absolute;
width: 1440px;
height: 730px;
left: 0px;
top: 2260px;



/* bg-blog */

position: absolute;
width: 1440px;
height: 730px;
left: 0px;
top: 2260px;

background: #F7F7F7;


/* MAIS CONTEÚDO PARA VOCÊ */

position: absolute;
width: 530px;
height: 43px;
left: 128px;
top: 2351px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 43px;
/* identical to box height */

color: #009688;



/* post 1 */

position: absolute;
width: 319px;
height: 318px;
left: 128px;
top: 2467px;



/* Rectangle 16 */

position: absolute;
width: 319px;
height: 193px;
left: 128px;
top: 2467px;

background: #C4C4C4;


/* Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. */

position: absolute;
width: 319px;
height: 114px;
left: 128px;
top: 2671px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 31px;

color: #009688;



/* post 2 */

position: absolute;
width: 319px;
height: 318px;
left: 556px;
top: 2467px;



/* Rectangle 17 */

position: absolute;
width: 319px;
height: 193px;
left: 556px;
top: 2467px;

background: #C4C4C4;


/* Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. */

position: absolute;
width: 319px;
height: 114px;
left: 556px;
top: 2671px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 31px;

color: #009688;



/* post 3 */

position: absolute;
width: 319px;
height: 318px;
left: 984px;
top: 2467px;



/* Rectangle 18 */

position: absolute;
width: 319px;
height: 193px;
left: 984px;
top: 2467px;

background: #C4C4C4;


/* Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. */

position: absolute;
width: 319px;
height: 114px;
left: 984px;
top: 2671px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 31px;

color: #009688;



/* botao */

position: absolute;
width: 289px;
height: 51px;
left: 582px;
top: 2886px;



/* Rectangle 12 */

box-sizing: border-box;

position: absolute;
width: 289px;
height: 51px;
left: 582px;
top: 2886px;

border: 2px solid #FF4081;
border-radius: 62px;


/* ver todos os posts */

position: absolute;
width: 207px;
height: 31px;
left: 623px;
top: 2896px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;

color: #FF4081;



/* depoimentos */

position: absolute;
width: 1087px;
height: 427px;
left: 128px;
top: 1678px;



/* O QUE FALAM SOBRE NÓS */

position: absolute;
width: 478px;
height: 50px;
left: 128px;
top: 1678px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 50px;

color: #009688;



/* depo 4 */

position: absolute;
width: 489px;
height: 108px;
left: 714px;
top: 1997px;



/* depo */

position: absolute;
width: 363px;
height: 106px;
left: 840px;
top: 1997px;



/* ”Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.” */

position: absolute;
width: 363px;
height: 71.62px;
left: 840px;
top: 1997px;

font-family: 'Nunito';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;

color: #000000;



/* Janes Joplin, 29 */

position: absolute;
width: 124px;
height: 23.87px;
left: 840px;
top: 2079.13px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: #000000;



/* jane */

position: absolute;
width: 104px;
height: 104px;
left: 714px;
top: 2001px;



/* Rectangle 14 */

box-sizing: border-box;

position: absolute;
width: 104px;
height: 104px;
left: 714px;
top: 2001px;

background: #FFFFFF;
border: 2px solid #FF4081;
border-radius: 50px;


/* image 8 */

position: absolute;
width: 89px;
height: 88px;
left: 719px;
top: 2015px;

background: url(image);
border-radius: 59px;


/* depo 3 */

position: absolute;
width: 490px;
height: 109px;
left: 128px;
top: 1996px;



/* Group 23 */

position: absolute;
width: 363px;
height: 109px;
left: 255px;
top: 1996px;



/* ”Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.” */

position: absolute;
width: 363px;
height: 73.65px;
left: 255px;
top: 1996px;

font-family: 'Nunito';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;

color: #000000;



/* Whoopi Goldberg, 37 */

position: absolute;
width: 175px;
height: 24.55px;
left: 255px;
top: 2080.45px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #000000;



/* whoopi */

position: absolute;
width: 104px;
height: 104px;
left: 128px;
top: 1996px;



/* Group 25 */

position: absolute;
width: 104px;
height: 104px;
left: 128px;
top: 1996px;



/* Rectangle 13 */

box-sizing: border-box;

position: absolute;
width: 104px;
height: 104px;
left: 128px;
top: 1996px;

background: #FFFFFF;
border: 3px solid #FF4081;
border-radius: 50px;


/* image 7 */

position: absolute;
width: 76px;
height: 82px;
left: 142px;
top: 2013px;

background: url(image);
border-radius: 31px;


/* depo 2 */

position: absolute;
width: 495px;
height: 104px;
left: 720px;
top: 1806px;



/* Group 20 */

position: absolute;
width: 363px;
height: 104px;
left: 852px;
top: 1806px;



/* ”Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.” */

position: absolute;
width: 363px;
height: 70.27px;
left: 852px;
top: 1806px;

font-family: 'Nunito';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;

color: #000000;



/* Jaden Smith, 23 */

position: absolute;
width: 128px;
height: 23.42px;
left: 852px;
top: 1886.58px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: #000000;



/* Group 21 */

position: absolute;
width: 104px;
height: 104px;
left: 720px;
top: 1806px;



/* Rectangle 14 */

box-sizing: border-box;

position: absolute;
width: 104px;
height: 104px;
left: 720px;
top: 1806px;

background: #FFFFFF;
border: 2px solid #FF4081;
border-radius: 50px;


/* image 5 */

position: absolute;
width: 81px;
height: 85px;
left: 812px;
top: 1811px;

background: url(image);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* depo 1 */

position: absolute;
width: 495px;
height: 104px;
left: 128px;
top: 1806px;



/* Group 19 */

position: absolute;
width: 363px;
height: 104px;
left: 260px;
top: 1806px;



/* ”Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.” */

position: absolute;
width: 363px;
height: 70.27px;
left: 260px;
top: 1806px;

font-family: 'Nunito';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;

color: #000000;



/* Wally, 25 */

position: absolute;
width: 76px;
height: 23.42px;
left: 260px;
top: 1886.58px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: #000000;



/* Group 22 */

position: absolute;
width: 104px;
height: 104px;
left: 128px;
top: 1806px;



/* Rectangle 13 */

box-sizing: border-box;

position: absolute;
width: 104px;
height: 104px;
left: 128px;
top: 1806px;

background: #FFFFFF;
border: 3px solid #FF4081;
border-radius: 50px;


/* image 6 */

position: absolute;
width: 84px;
height: 68px;
left: 139px;
top: 1818px;

background: url(image);


/* cursos */

position: absolute;
width: 1440px;
height: 730px;
left: 0px;
top: 829px;



/* bg-cursos */

position: absolute;
width: 1440px;
height: 730px;
left: 0px;
top: 829px;

background: #F7F7F7;


/* curso 3 */

position: absolute;
width: 304px;
height: 502px;
left: 1007px;
top: 938px;



/* curso 3 */

position: absolute;
width: 304px;
height: 189px;
left: 1007px;
top: 1251px;



/* Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. */

position: absolute;
width: 293px;
height: 60px;
left: 1013px;
top: 1303px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: center;

color: #000000;



/* Group 15 */

position: absolute;
width: 233px;
height: 51px;
left: 1043px;
top: 1389px;



/* Rectangle 12 */

position: absolute;
width: 233px;
height: 51px;
left: 1043px;
top: 1389px;

background: #FF4081;
border-radius: 62px;


/* começar agora */

position: absolute;
width: 216px;
height: 20.27px;
left: 1052px;
top: 1404px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;



/* Independência Financeira */

position: absolute;
width: 304px;
height: 29px;
left: 1007px;
top: 1251px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
/* identical to box height */
text-align: center;

color: #FF4081;



/* image 4 (Traced) */

box-sizing: border-box;

position: absolute;
left: 74.03%;
right: 12.99%;
top: 29.34%;
bottom: 62.21%;

background: #000000;
border: 1px solid #000000;


/* curso 2 */

position: absolute;
width: 293px;
height: 502px;
left: 593px;
top: 938px;



/* Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. */

position: absolute;
width: 293px;
height: 60px;
left: 593px;
top: 1303px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: center;

color: #000000;



/* botao */

position: absolute;
width: 233px;
height: 51px;
left: 623px;
top: 1389px;



/* Rectangle 12 */

position: absolute;
width: 233px;
height: 51px;
left: 623px;
top: 1389px;

background: #FF4081;
border-radius: 62px;


/* começar agora */

position: absolute;
width: 216px;
height: 20.27px;
left: 632px;
top: 1404px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;



/* Poupando e Rendendo */

position: absolute;
width: 267px;
height: 29px;
left: 606px;
top: 1251px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
/* identical to box height */
text-align: center;

color: #FF4081;



/* image 2 (Traced) */

position: absolute;
left: 43.12%;
right: 40.35%;
top: 29.34%;
bottom: 62.21%;

background: #2D2D2D;
border: 1px solid #000000;


/* curso 1 */

position: absolute;
width: 344px;
height: 504px;
left: 128px;
top: 938px;



/* Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. */

position: absolute;
width: 293px;
height: 60px;
left: 154px;
top: 1305px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: center;

color: #000000;



/* Investimento para iniciantes */

position: absolute;
width: 344px;
height: 29px;
left: 128px;
top: 1253px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
/* identical to box height */
text-align: center;

color: #FF4081;



/* Group 14 */

position: absolute;
width: 233px;
height: 51px;
left: 184px;
top: 1391px;



/* Rectangle 12 */

position: absolute;
width: 233px;
height: 51px;
left: 184px;
top: 1391px;

background: #FF4081;
border-radius: 62px;


/* começar agora */

position: absolute;
width: 216px;
height: 20.27px;
left: 193px;
top: 1406px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;



/* image 3 (Traced) */

position: absolute;
left: 10.83%;
right: 69.17%;
top: 29.34%;
bottom: 62.21%;

background: #000000;
border: 1px solid #000000;


/* banner */

position: absolute;
width: 1028px;
height: 521px;
left: 206px;
top: 242px;



/* ilustra-banner */

position: absolute;
left: 50.9%;
right: 14.31%;
top: 7.88%;
bottom: 76.13%;

background: #2D2D2D;
border: 2px solid #555555;


/* Texto Banner */

position: absolute;
width: 488px;
height: 386px;
left: 206px;
top: 242px;



/* Educação Financeira é tudo de bom */

position: absolute;
width: 488px;
height: 216px;
left: 206px;
top: 242px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 69px;

color: #FF4081;



/* Vem comigo que te mostro por onde começar */

position: absolute;
width: 462px;
height: 62px;
left: 207px;
top: 477px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 31px;

color: #555555;



/* Group 13 */

position: absolute;
width: 268px;
height: 51px;
left: 207px;
top: 577px;



/* Rectangle 12 */

box-sizing: border-box;

position: absolute;
width: 268px;
height: 51px;
left: 207px;
top: 577px;

border: 2px solid #FF4081;
border-radius: 62px;


/* quero saber mais */

position: absolute;
width: 216px;
height: 20.27px;
left: 233px;
top: 585.5px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 31px;

color: #FF4081;



/* header */

position: absolute;
width: 1440px;
height: 117px;
left: 0px;
top: 0px;

background: #2E948A;
box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);


/* menu */

position: absolute;
width: 309px;
height: 23px;
left: 1028px;
top: 47px;



/* CURSOS */

position: absolute;
width: 80px;
height: 23px;
left: 1028px;
top: 47px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
/* identical to box height */
text-transform: uppercase;

color: #FDFDFD;



/* blog */

position: absolute;
width: 55px;
height: 23px;
left: 1150px;
top: 47px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
/* identical to box height */
text-transform: uppercase;

color: #FDFDFD;



/* contato */

position: absolute;
width: 95px;
height: 23px;
left: 1242px;
top: 47px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
/* identical to box height */
text-transform: uppercase;

color: #FDFDFD;



/* logo */

position: absolute;
width: 244px;
height: 77px;
left: 82px;
top: 20px;



/* dindin */

position: absolute;
width: 164px;
height: 64px;
left: 162px;
top: 33px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 56px;
line-height: 64px;

color: #FFFFFF;



/* dindin-logo-white (1) 2 */

position: absolute;
width: 69px;
height: 71px;
left: 82px;
top: 20px;

background: url(dindin-logo-white (1).png);
